<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ryan Gosling</h1>
    <p>
      This is a small website about Ryan Gosling. Click
      <a href="/about">here</a> to find out where he was born, and click
      <a href="/works">here</a> to find a short list of films he has starred in
    </p>
  </body>
</html>
